@IMPORT url("main.css");
@IMPORT url("typo.css");

/**
 * Secondary menu
 */

#secondary_menu
{
	float: right;
	margin-bottom: 10px;
}

#secondary_menu li
{
	float: left;
	margin-left: 30px;
	
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9em;
}

#secondary_menu a
{
	color: #333;
	text-decoration: none;
}

#secondary_menu a:hover
{
	border-bottom: #fe0 3px solid;
}
