@IMPORT url("common/extended.css");

/**
 * Header
 */

#header
{
	background-color: #e63;
}

#header h1
{
	width: 228px;
	height: 84px;
	
	background-image: url("../images/layout/header/community/title.png");
	background-repeat: no-repeat;
	
	float: left;
}

#header h1 span
{
	display: none;
}

#header .slide
{
	height: 180px;
	padding: 50px 0 0 0;
	margin-top: -40px;
	
	background-image: url("../images/layout/header/community/gradient.png");
	background-position: center -20px;
	background-repeat: no-repeat;
}

#header .slide img
{
	margin: -110px 0 0 0;
	float: right;
}

#header .slide .community_link
{
	float: right;
	margin-right: 180px;
	padding: 7px 15px;
	background-color: #222;
	-moz-border-radius: 10px;
	color: #fff;
	text-decoration: none;
}

#header .slide .community_link:hover
{
	color: #db2;
}

#content .slide
{
	margin: 4em 10%;
}

#content h3
{
	margin: 1em 0 0 0;
	clear: none;
}

#content .member
{
	width: 40%;
	clear: both;
}

#content .member img
{
	margin: 0 10px 1em 10px;
}

#content .team h2
{
	width: 145px;
	height: 35px;
	
	background-image: url("../images/layout/body/community/the_team.png");
	background-repeat: no-repeat;
}

#content .team h2 span
{
	display: none;
}

/**
 * Typo
 */

a
{
    text-decoration: underline;
    color: #686;
}

a:hover
{
    text-decoration: none;
    color: #8a8;
}
